/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

vendor/autoload.php

vendor/composer/autoload_classmap.php

vendor/composer/autoload_files.php

vendor/composer/autoload_real.php

vendor/composer/installed.json
